
// Color

$grey:#f8f9fa;
$orange: #ff9933;
$turquoise:#69c9ca;

$grey10:rgb(25,25,25);
$grey20:rgb(50,50,50);
$grey30:rgb(75,75,75);
$grey40:rgb(100,100,100);
$grey50:rgb(125,125,125);
$grey60:rgb(150,150,150);
$grey70:rgb(175,175,175);
$grey80:rgb(200,200,200);
$grey90:rgb(225,225,225);


// Typography

$sans-serif: Helvetica, Arial, sans-serif;
$proxima-soft: Helvetica, Arial, sans-serif;
$link-color: $orange;

// Bootstrap resets
// $border-radius:0;

@import "../bootstrap-4.4.1/scss/bootstrap";

















